<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Pferde- und Hundephysiotherapie, Reittherapie, Ergotherapie in Oberstdorf/Oberallgäu">
	
	<title>{{ title }} — Antonia Geierstanger</title>
	<link rel="icon" type="image/svg+xml" href="/assets/static/favicon.svg">
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
	{% include 'font.njk' %} 
</head>
<body>
	<div class="wrapper">
		<aside class="wrapper__header header">
			{% include 'header.njk' %} 
		</aside>
		<main class="wrapper__main">
		<h1>{{ title }}</h1>
		{{ content | safe }}
		</main>
		<!-- {% include 'footer.njk' %}  -->
	</div>
</body>
</html>