<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ title }} — Antonia Geierstanger</title>
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
</head>
<body>
	<div class="wrapper">
		<aside class="wrapper__sidebar">
			{% include 'header.njk' %} 
		</aside>
		<main class="wrapper__main">
		<h1>{{ title }}</h1>
		{{ content | safe }}
		</main>
	</div>
</body>
</html>