<p>
	Antonia Geierstanger<br>
	Scheibenstraße 8<br>
	87561 Oberstdorf<br>
	Handy 0176 21309104<br>
</p>
<p>
	<a href="mailto:antonia@geierstanger.org">antonia@geierstanger.org</a>
</p>
<p>
	<a href="http://www.facebook.com/pages/Antonia-Geierstanger-Therapie-f%C3%BCr-Mensch-und-Tier/276615765756683">Facebook</a>
</p>

