
<button class="header__menu-button" onclick="document.querySelector('.header__nav').classList.toggle('header__nav--open')">Menü</button>

<a href="/" class="header__link">
	{% image "./src/assets/logos/ageierst-logo-2022-1.svg", "Silhouetten eines Pferdes und eines Hundes", "header__logo" %}
	<span class="header__site-title">Antonia Geierstanger</span>
</a>



{% include 'nav.njk' %} 

