
<button class="header__menu-button" onclick="document.querySelector('.header__nav').classList.toggle('header__nav--open')">Menü</button>

<a href="/" class="header__link" class="header__logo">
	<img src="/assets/static/logo.svg" alt="Silhouetten eines Pferdes und eines Hundes">
	<span class="header__site-title">Antonia Geierstanger</span>
</a>

{% include 'nav.njk' %} 

