<a href="/" id="site-title">
	{% image "./src/assets/logos/ageierst-logo-2022-1.svg", "Silhouetten eines Pferdes und eines Hundes", "header__logo" %}
</a>

<div id="contact">
	{% include 'contact.njk' %}
</div>

{% include 'nav.njk' %} 