.header__title {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}

.header__link {
	text-decoration: none;
	flex-grow: 1;
}

.header__logo {
	@media (max-width: 700px) {
		display: none;
	}
}

.header__site-title {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--color-blue);

	@media (min-width: 700px) {
		margin-block-start: 1rem;
		display: block;
	}
}

.header__menu-button {
	@media (min-width: 700px) {
		display: none;
	}
}

.header__nav {
	@media (max-width: 700px) {
		display: none;
	}
}

.header__nav--open {
	@media (max-width: 700px) {
		display: block;
		border-block-end: 2px solid var(--color-blue);
	}
}
