:root {
	--font: "Maven Pro", system-ui, sans-serif;
	--color-text: #1d1d1d;
	--color-light-text: #303030;
	--color-background-shaded: #bcb8b1;
	--color-background: #fff;
	--color-purple: #93009d;
	--color-blue: #0182f6;
}
