.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	gap: 1rem;
	margin-block-end: 4rem;

	& img {
		object-fit: cover;
		aspect-ratio: 1 / 1;
		display: block;
		border-radius: .3rem;
	}

	&__captions {
		grid-column: 1 / -1;
		display: flex;
		flex-wrap: wrap;
		padding-inline-start: 0;
		margin-block: 0;
		margin-inline-start: 2rem;

		& li {
			margin-inline: 20px;
			color: var(--color-light-text);
			font-size: 85%;
		}
	}
}