.header {
	$breakpoint: 700px;

	&__title {
		display: flex;
		gap: 1.5rem;
		align-items: center;
	}

	&__link {
		text-decoration: none;
		flex-grow: 1;
	}

	&__logo {
		@media (max-width: $breakpoint) {
			display: none;
		}
	}

	&__site-title {
		font-size: 1.5rem;
		font-weight: bold;
		color: var(--color-blue);

		@media (min-width: $breakpoint) {
			margin-block-start: 1rem;
			display: block;
		 }
		
	}

	&__menu-button {
		@media (min-width: $breakpoint) {
			display: none;
		 }
	}
	
	&__nav {
		@media (max-width: $breakpoint) {
			display: none;
			&--open {
				display: block;
				border-block-end: 2px solid var(--color-blue);
			}
		}
	}
}

