.wrapper {
	display: grid;
	gap: 2rem;
	grid-auto-flow: row;

	@media (min-width: 700px) {
		grid-template-columns: 12rem 1fr;
	}

	&__header {
		word-break: break-word;
	}

	&__main {
		max-width: 80ch;
	}
}